.chart {
  max-width: 650px;
  margin: 30px;
}

svg.chart__svg {
  /* Make space for the axes */
  overflow: visible;
  margin-left: 10%;
  margin-right: 8.5%;
  margin-bottom: 12%;
}

.chart__axis path,
.chart__axis line {
  fill: none;
  stroke: #000;
  shape-rendering: geometricPrecision;
}

.chart__axis text {
  font-family: sans-serif;
  font-size: 12px;
  fill: #000;
}

g.sideBar-brush {
  stroke: #000;
  stroke-width: 0.5px;
}

.sideBar-brush .selection {
  stroke: #000;
  stroke-width: 0.5px;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: 0.125;
  shape-rendering: crispEdges;
}

.chart--hidden {
  display: none;
}
