.chart {
  max-width: 650px;
  margin: 30px;
}

svg.chart__svg {
  /* Make space for the axes */
  overflow: visible;
  margin-left: 8.5%;
  margin-bottom: 12%;
}

.chart__axis path,
.chart__axis line {
  fill: none;
  stroke: #000;
  shape-rendering: geometricPrecision;
}

.chart__axis text {
  font-family: sans-serif;
  font-size: 12px;
  fill: #000;
}
