.errors {
  position: relative;
}

.errors__dropdown {
  position: absolute;
  top: 100%;
  background: #fff;
  border: 1px solid #999;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 200ms, transform 200ms;
}

.errors--dropdown-open .errors__dropdown {
  opacity: 1;
  transform: none;
  pointer-events: all;
}

.errors__dropdown-item {
  display: block;
  white-space: nowrap;
  max-width: 400px;
  overflow: hidden;
}

.errors__dropdown-item:first-child {
  font-weight: bold;
}

.errors__checkbox:not(:checked) ~ .errors__file-name {
  text-decoration: line-through;
}

/* css styles that are supposed to be inherited from bootstrap */
.colorpicker.dropdown-menu {
  position: absolute;
  background-clip: "padding-box";
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.colorpicker-component .input-group-addon {
  margin-left: 5px;
}
