.function-runtimes {
  width: 100%;
}

.function-runtimes th,
.function-runtimes td {
  padding: 0 5px;
}

.function-runtimes__header-row {
  background-color: #c0c0c0;
}

.function-runtimes__data-row:nth-child(odd) {
  background-color: #d9d9d9;
}

.function-runtimes__data-column--clickable {
  position: relative;
}

.function-runtimes__data-column--clickable:hover {
  cursor: pointer;
}

.function-runtimes__data-column--clickable::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.1);
}

.function-runtimes__data-column--clickable:hover::after {
  opacity: 1;
}

.function-runtimes__name-part:last-child:not(:only-child) {
  font-weight: bold;
}

.function-runtimes__name-part:not(:last-child)::after {
  content: " › ";
}
