#info h3 {
  margin: 0 0 0.5em 0;
}

/* Remove bullet & indent. */
#info ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 4px;
}

#info li {
  margin-bottom: 0.5em;
  overflow-wrap: break-word;
}

#info > div {
  margin-bottom: 0.5em;
}

#info .title {
  font-weight: bold;
  margin-bottom: 0.1em;
}

#info .title::after {
  content: " ";
}

#program-info {
  width: 200px;
  word-wrap: break-word;
}
