* {
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  min-width: 600px;
  display: grid;
  overflow: hidden;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
}

button {
  padding: 5px 10px;
  border: 1px solid #999;
  background-color: #ededed;
  border-radius: 2px;
}

button:hover,
button:focus {
  background-color: #d7d7d7;
  outline: none;
}

button:active {
  background-color: #ccc;
  outline: none;
}

button:disabled {
  background-color: #ededed;
  border: 1px solid #ddd;
}

#progress {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

#charts {
  grid-area: charts;
  overflow: auto;
  padding: 0.25em;

  /* Hack to force element onto its own layer to speed up scrolling. */
  transform: translateZ(0);
}

#info {
  grid-area: info;
  overflow-y: auto;
  padding: 1em;
  display: flex;
}

#table-bar {
  grid-area: table-bar;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#table-bar-header {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #ededed;
}

#table-bar-header > * {
  margin: 5px;
}

#function-runtimes-back-button:not(.function-runtimes-back-button--visible) {
  display: none;
}

#confidence-threshold-input {
  border: none;
  border-bottom: 1px solid #333;
  width: 50px;
}

#confidence-threshold-input.confidence-threshold-input--invalid {
  background: #f07575;
}

#tables-wrapper {
  overflow: auto;
  flex: 1;

  /* Hack to force element onto its own layer to speed up scrolling. */
  transform: translateZ(0);
}

@media (max-width: 750px) {
  #charts {
    padding: 0;
  }
}

@media screen and (max-width: 1500px) {
  body {
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "charts    info"
      "table-bar table-bar";
  }

  #info {
    flex-direction: column;
    border-left: 1px solid #999;
  }

  #table-bar {
    border-top: 1px solid #999;
  }
}

@media screen and (min-width: 1500px) {
  body {
    grid-template-rows: 1fr auto;
    grid-template-columns: 700px 1fr;
    grid-template-areas:
      "charts table-bar"
      "info   table-bar";
  }

  #info {
    flex-direction: row;
    border-top: 1px solid #999;
    max-height: 20vh;
  }

  #table-bar {
    border-left: 1px solid #999;
  }
}

@media print {
  body {
    display: block;
  }

  button {
    display: none;
  }

  #info {
    flex-direction: row;
    border-bottom: 1px solid #999;
  }

  #table-bar {
    page-break-before: always;
    border-top: 1px solid #999;
  }

  #table-bar-header {
    display: none;
  }
}
