.save-to-file {
  position: relative;
}

.save-to-file::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  display: none;
  left: -1px;
  bottom: -1px;
  top: -1px;
  padding: 5px;
  color: #000;
  max-width: 400px;
  min-width: calc(100% + 2px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #999;
  border-radius: 2px;
  pointer-events: none;
  z-index: 1000;
}

.save-to-file::after {
  background: #ffe66e;
}

.save-to-file--ok::after {
  background: #5fd28d;
}

.save-to-file[data-message]::after {
  content: attr(data-message);
  display: block;
}
