.select {
  position: relative;
}

.select--dropdown-open .select__button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}

.select__dropdown {
  position: absolute;
  top: 100%;
  background: #fff;
  border: 1px solid #999;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 200ms, transform 200ms;
  z-index: 1000;
}

.select--dropdown-open .select__dropdown {
  opacity: 1;
  transform: none;
  pointer-events: all;
}

.select__dropdown-item {
  display: block;
  white-space: nowrap;
  max-width: 400px;
  overflow: hidden;
}
