#stats ul,
#program-info ul {
  list-style: none;
  padding: 0;
}

#stats li,
#program-info li {
  margin-bottom: 10px;
}

#stats .title,
#program-info .title {
  font-weight: bold;
}

#stats .value {
  word-wrap: break-word;
}
