body {
  min-width: 900px;
}

#chart {
  overflow: visible;
  margin-left: 10%;
  margin-bottom: 10%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 12px;
  fill: #000;
}

.brushed {
  fill: #8e1b54 !important;
}
