ignore_errors = yes
tune          = base
basepeak      = yes

# Select and/or modify as needed
ext           = clang
output_format = asc,csv,html
output_root   = /scratch/${username}/spec
flagsurl0     = $[top]/config/flags/Example-gcc4x-flags-revA.xml
flagsurl1     = $[top]/config/flags/Example-linux-platform-revA.xml
reportable    = 0
teeout        = yes
teerunout     = yes
hw_avail      = Dec-9999
license_num   = 0
test_sponsor  = Test Sponsor (Optional, defaults to hw_vendor)
tester        = (Optional, defaults to hw_vendor)
check_md5     = 0
env_vars      = 1

default=default=default=default:
#####################################################################
#
# Compiler selection
#
#####################################################################
# NOTE: The path may be different if you use the compiler from
#       the gnu site.
CC                 = /usr/bin/clang
CXX                = /usr/bin/clang++
FC                 = /usr/bin/gfortran
ENV_LD_PRELOAD     = /home/builinh/scrambler/analyzer/normal/analyzer.so

## HW config
# default sysinfo is expected to write hw_cpu_name, hw_memory, hw_nchips,
# hw_disk
hw_model           = System Model Name
hw_cpu_char        =
hw_cpu_mhz         = 9999
hw_fpu             = Integrated
hw_ncores          = number of cores enabled
hw_ncoresperchip   = number of cores manufactured into each chip
hw_nthreadspercore = number of threads enabled per core
hw_ncpuorder       = 1,2 chips
hw_pcache          = 9999 KB I + 9999 KB D on chip per core
hw_scache          = 9999 KB I+D on chip per core
hw_tcache          = 9999 MB I+D on chip per chip
hw_ocache          = None
hw_vendor          = System Vendor
hw_other           = None

## SW config
# default sysinfo is expected to write prepared_by, sw_os, sw_file, sw_state
# Descriptions of the different compilers tested
sw_compiler        = clang, clang++ & gfortran 4.3.4
#sw_compiler        = clang, clang++ & gfortran 4.4.4
#sw_compiler        = clang, clang++ & gfortran 4.6.0
# For SLES11 SP1
sw_avail           = May-2010
# For RHEL6
#sw_avail           = Oct-2010
# For gcc 4.6
#sw_avail           = Mar-2011
sw_other           = None
sw_base_ptrsize    = 64-bit
sw_peak_ptrsize    = 64-bit

#####################################################################
# Notes
#####################################################################
notes_submit_000 ='numactl' was used to bind copies to the cores.
notes_submit_005 =See the configuration file for details.

notes_os_000 ='ulimit -s unlimited' was used to set environment stack size

#####################################################################
# Optimization
#####################################################################

default=base=default=default:
COPTIMIZE   = -O2 -fno-strict-aliasing
CXXOPTIMIZE = -O2 -fno-strict-aliasing
FOPTIMIZE   = -O2 -fno-strict-aliasing

#####################################################################
# 32/64 bit Portability Flags - all
#####################################################################

default=base=default=default:
PORTABILITY    = -DSPEC_CPU_LP64

#####################################################################
# Portability Flags
#####################################################################

400.perlbench=default=default=default:
CPORTABILITY   = -DSPEC_CPU_LINUX_X64

462.libquantum=default=default=default:
CPORTABILITY   =  -DSPEC_CPU_LINUX

483.xalancbmk=default=default=default:
CXXPORTABILITY = -DSPEC_CPU_LINUX

481.wrf=default=default=default:
CPORTABILITY   = -DSPEC_CPU_CASE_FLAG -DSPEC_CPU_LINUX

__MD5__
429.mcf=base=clang=default:
# Last updated Thu Jun 15 10:23:58 2017
optmd5=d7daa2971e7bd46bc9bab7a7617417c6
baggage=
compile_options=\
@eNqtUUtPhDAQvvMrmt4r0RgPZNkECu6iQJulxOilYRFMFagpYOK/t0DYh2Q9OafJdPq9JpYNqrOP\
ohRVAeRnJ2TTWkbbKZF3XPXNq1D8q1Ci/LbhNTQwiagFzL5V5l40Zl5lzRtAOUBy/nwlAfIS6mOO\
aarb2PPddAN09+TEjCfMw5zuCCN6RG4AKhuJJjqUVSJrhQac6gjDQ3p3C+ZatbJXebE2sAUwtuG5\
GjiOiftAKLPhmTRoaO0a7j50Nol+W8ocN1w/xluOD1u/dEODDASUBVHw4uuFCy5GLEp2zHGDMGDP\
p4SjIWiEQfy4SPOvXC5EspL79yLv2vXwuarn8dH5kEnoLaP6NycaP3LYloeBO2RW1XCiJOlwhJML\
/ABpJrY4
exemd5=70396d4fdf93ef66e79b9a6be2522e7a
